.bdstyle1{
    color: #000;
    font-size: 15px;
    border-style: dashed;
}

.bdstyle2{
    color: rgb(179, 44, 44);
    font-size: 15px;
    border-style: double;
}

.bdstyle3{
   
    font-size: 15px;
    border-style: inset;
}

.bdstyle4{
    
    font-size: 15px;
    border-style: outset;
}

.bdstyle5{

    font-size: 15px;
    border-style: dotted;
}

.bdstyle6{

    font-size: 15px;
    border-style: solid;
}

.bradius{
      width: 300px;
      height: 200px;
      background-color: orange;
      
      border-radius: 20px 30px 35px 20px;
      border:1px dashed black ;
}

.listyle1,.listyle2,.listyle3{
   border: 1px dashed blue;
   list-style-position: inside;
   list-style-type: decimal-leading-zero;

  
}
  /*attribute selector */

/* input[type="email"]{
    font-size: 20px;
    color: red;
    border-radius: 30px;

    
} */

/* input[type="text"]{
    font-size: 20px;
    color: orange;
    border-radius: 15px;


} */

/* background position */

body{
    background-image: url(../img/coverphoto/img3.jpeg);

    /* background-repeat:repeat-y; */
    /* background-repeat:repeat-x; */
    background-repeat: no-repeat;

    /* background-size:cotain; */
    background-size:cover;

    background-position: center ;
    background-position: top left;
    background-attachment: scroll;
    /* background-attachment: fixed; */
}


